<h3>Add a Contact</h3>

<%= form_for [@company, @contact] do |f| %>
  <p>
    <%= f.label :name %> <br/>
    <%= f.text_area :name %> <br/>

    <%= f.label :position %>
    <%= f.text_field :position %><br/>

    <%= f.label :email %>
    <%= f.text_field :email %><br/>


    <%= f.submit 'Submit' %>
  </p>
  <% end %>
